<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Project</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
</head>

<body>

    <section>
        <header class="row m-3">
            <h1>Update List</h1>
            <p><a href="/">Go to Home Page</a></p>
            <p><a href="/list">Go to List Page</a></p>
        </header>
        <div class="row m-3">
            <form action="/update/" method="POST" class="row g-4" id="updateUser">
                <div class="col-md-4">
                    <label for="inputState" class="form-label">Select Unit</label>
                    <select id="inputState selectUnit" name="unit" class="form-select border-success">
                        <option selected>{{user.unit}}</option>
                        <option>St Thomas</option>
                        <option>St Aloyous</option>
                        <option>St Alphonse</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="inputEmail4" class="form-label">House Name</label>
                    <input type="text" class="form-control border-success" placeholder="House Name"
                        value="{{user.houseN}}" name="houseN" id="houseName">
                </div>
                <div class="col-md-4">
                    <label for="inputPassword4" class="form-label">Phone Number</label>
                    <input type="number" class="form-control border-success" placeholder="{{user.phoneN}}"
                        value="{{user.phoneN}}" name="phoneN" id="phoneNo">
                </div>
                <div class="col-md-4 m-3">
                    <button type="submit" class="btn btn-primary update-data" data-id="{{user._id}}">Update</button>
                </div>
            </form>
            <span class="border border-black mx-auto p-2" id="memberDetail">
                {{#each member}}
                    <form action="/update/{{user._id}}" method="POST" class="row g-4" id="updateMember">
                        <div class="row g-4" id="memberDetails-{{@index}}">
                            <div class="col-md-4 p-3">
                                <label for="inputEmail4" class="form-label">Name</label>
                                <input type="text" class="form-control border-success" placeholder="Name"
                                    value="{{this.name}}" name="memberDetails[{{@index}}][name]" id="name">
                            </div>
                            <div class="col-md-4 p-3">
                                <label for="inputEmail4" class="form-label">Relation</label>
                                <input type="text" class="form-control border-success" placeholder="Relation"
                                    value="{{this.relation}}" name="memberDetails[{{@index}}][relation]" id="relation">
                            </div>
                            <div class="col-md-1 p-3">
                                <label for="inputPassword4" class="form-label">Age</label>
                                <input type="number" class="form-control border-success" placeholder="Age"
                                    value="{{this.age}}" name="memberDetails[{{@index}}][age]" id="age"
                                    style="width: 70px;">
                            </div>
                            <div class="row">
                                <div class="col-md-3 p-3">
                                    <label for="inputPassword4" class="form-label">Baptism Date</label>
                                    <label for="inputPassword4" class="form-label">{{this.bDate}}</label>
                                    <input type="date" class="form-control border-success"
                                        name="memberDetails[{{@index}}][bDate]" value="{{this.bDate}}" id="bDate"
                                        style="width: 150px;">
                                </div>
                                <div class="col-md-3 p-3">
                                    <label for="inputPassword4" class="form-label">Date of Birth</label>
                                    <label for="inputPassword4" class="form-label">{{this.dob}}</label>
                                    <input type="date" class="form-control border-success"
                                        name="memberDetails[{{@index}}][dob]" id="dob" style="width: 150px;">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 p-3">
                                    <label for="inputPassword4" class="form-label">Abroad or Not</label>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input border-success" type="radio"
                                            name="memberDetails[{{@index}}][abroad]" id="abroad" value="yes" {{#if
                                            abroad}}checked{{/if}}>
                                        <label class="form-check-label" for="inlineRadio1">Yes</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input border-success" type="radio"
                                            name="memberDetails[{{@index}}][abroad]" id="abroad" value="no" {{#unless
                                            abroad}}checked{{/unless}}>
                                        <label class="form-check-label" for="inlineRadio2">No</label>
                                    </div>
                                </div>
                                <div class="col-md-4 p-3" id="placename">
                                    <label for="inputEmail4" class="form-label">Place Name</label>
                                    <input type="text" class="form-control border-success" placeholder="Place Name"
                                        name="memberDetails[{{@index}}][placeName]" id="placeName"
                                        value="{{this.placeName}}">
                                </div>
                                <div class="col-md-4 p-3">
                                    <input class="form-control" name="memberDetails[{{@index}}][memberId]" type="text"
                                        value="{{this._id}}" aria-label="Disabled input example" disabled>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 p-3">
                                    <label for="inputText4" class="form-label">Married or Not</label>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input border-success" type="radio"
                                            name="memberDetails[{{@index}}][married]" id="marryyes" value="yes" {{#if
                                            married}}checked{{/if}}>
                                        <label class="form-check-label" for="inlineRadio1">Yes</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input border-success" type="radio"
                                            name="memberDetails[{{@index}}][married]" id="marryno" value="no" {{#unless
                                            married}}checked{{/unless}}>
                                        <label class="form-check-label" for="inlineRadio2">No</label>
                                    </div>
                                </div>
                                <div class="col-md-3 p-3">
                                    <label for="inputText4" class="form-label">Date of Marrage</label>
                                    <label for="inputPassword4" class="form-label">{{this.dom}}</label>
                                    <input type="date" class="form-control border-success"
                                        name="memberDetails[{{@index}}][dom]" id="dom" style="width: 150px;">
                                </div>
                                <div class="col-md-4 p-3">
                                    <label for="inputEmail4" class="form-label">Partner Name</label>
                                    <input type="text" class="form-control border-success" placeholder="Partner Name"
                                        name="memberDetails[{{@index}}][partnerName]" id="partnerName"
                                        value="{{this.partnerName}}">
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary mt-3 m-3 update-mem" id="update-member"
                            data-id="{{this._id}}" style="width: 50%;" disabled>Update
                            Member</button>
                        <button type="button" class="btn btn-danger mt-3 m-3  delete-mem" id="deleteMember"
                            data-id="{{this._id}}" style="width: 50%;">Delete Member</button>
                        <hr class="border border-success border-2 opacity-50">
                    </form>
                {{/each}}
            </span>
            <div class=" row m-3">
                <button type="button" class="btn btn-danger delete-data" data-id="{{user._id}}"
                    style="width: 50%;">Delete</button>
            </div>
        </div>
        <script>
            const userId = `{{user._id}}`;
            const deleteMember = document.querySelectorAll('.delete-mem');
            const deleteData = document.querySelectorAll('.delete-data');
            const updateData = document.querySelector('#updateUser');
            const updateMember = document.querySelectorAll('#update-member')
            const updateMemberForm = document.querySelector('#updateMember');

            //Delete Member
            deleteMember.forEach(btn => {
                btn.addEventListener('click', () => {
                    const id = btn.getAttribute('data-id');
                    if (confirm("Are you sure you want to delete this Member?") == true) {
                        axios.delete(`/${userId}/${id}`)
                            .then(res => {
                                window.location.href = window.location.href;
                            })
                            .catch(err => alert("Error"));
                    }
                });
            })

            // Delete Data
            deleteData.forEach(btn => {
                btn.addEventListener('click', () => {
                    const id = btn.getAttribute('data-id');
                    if (confirm("Are you sure you want to delete this Data?") == true) {
                        axios.delete(`/${id}`)
                            .then(res => {
                                window.location.href = "/list";
                            })
                            .catch(err => alert("Error"));
                    }
                });
            })

            //Update Data
            updateData.addEventListener('submit', function (event) {
                event.preventDefault();

                const userId = updateData.querySelector('.update-data').dataset.id;

                const formData = new FormData(updateData);
                const userData = {
                    unit: formData.get('unit'),
                    houseN: formData.get('houseN'),
                    phoneN: formData.get('phoneN')
                };

                axios.put(`/update/${userId}`, userData)
                    .then(function (response) {
                        alert("Data has been updated")
                        window.location.href = window.location.href;
                    })
                    .catch(function (error) {
                        console.error(error);
                    });
            })

            //Update Member
            updateMember.forEach(btn => {
                btn.addEventListener('click', (event) => {
                    event.preventDefault();
                    const id = btn.getAttribute('data-id');
                    console.log(id)
                    const formData = new FormData(updateMemberForm);
                    const userData = {
                        age: formData.get('memberDetails[{{@index}}][age]'),
                        name: formData.get('memberDetails[{{@index}}][name]'),
                    };
                    console.log(userData)

                });
            })
        </script>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
        crossorigin="anonymous"></script>
    {{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> --}}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>

</html>