<section>
    <header class="row m-3">
        <h1>User List</h1>
        <p><a href="/">Go to Home Page</a></p>
    </header>
    <div class="row m-3">
        <div class="container table-responsive py-5">
            <table class="table table-bordered table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Unit Name</th>
                        <th scope="col">House Name</th>
                        <th scope="col">Phone No</th>
                        <th scope="col">Member Name</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each users}}
                        <tr>
                            <th scope="row">{{@index}}</th>
                            <td>{{this.unit}}</td>
                            <td>{{this.houseN}}</td>
                            <td>{{this.phoneN}}</td>
                            <td>{{memberDetails.[0].name}}</td>
                            <td><a href="/update?id={{this._id}}" class="btn btn-primary">Edit</a></td>
                            <td><button type="button" data-id="{{this._id}}" class="btn btn-danger delete-btn"
                                    id="deleteData">Delete</button></td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    <script>
        const deleteBtns = document.querySelectorAll('.delete-btn');
        deleteBtns.forEach(btn => {
            btn.addEventListener('click', () => {
                const id = btn.getAttribute('data-id');
                if (confirm("Are you sure you want to delete this data?")==true) {
                    // send delete request to server with the id of the data to be deleted
                    axios.delete(`/${id}`)
                        .then(res => {
                            window.location.href = window.location.href;
                        })
                        .catch(err => alert("Error"));
                }
            });
        })
    </script>
</section>