<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Family Data</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
</head>

<body>

    <section>
        <header class="row m-3">
            <h1>Update List</h1>
            <p><a href="/">Go to Home Page</a></p>
            <p><a href="/list">Go to List Page</a></p>
        </header>
        <div class="row m-3">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-info me-md-2" type="button">Download PDF</button>
            </div>
            <form action="/update/{{user._id}}" method="POST" class="row g-4" id="updateUser">
                <input type="hidden" name="_method" value="PUT">
                <div class="col-md-4">
                    <label for="inputState" class="form-label">Select Unit</label>
                    <select id="inputState selectUnit" name="unit" class="form-select border-success">
                        <option selected>{{user.unit}}</option>
                        <option>St. Mary's Unit</option>
                        <option>St. Antony's Unit</option>
                        <option>St. George Unit</option>
                        <option>Little Flower Unit</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="inputText" class="form-label">House Name</label>
                    <input type="text" class="form-control border-success" placeholder="House Name"
                        value="{{user.houseN}}" name="houseN" id="houseName">
                </div>
                <div class="col-md-4">
                    <label for="inputText" class="form-label">Phone Number</label>
                    <input type="number" class="form-control border-success" placeholder="{{user.phoneN}}"
                        value="{{user.phoneN}}" name="phoneN" id="phoneNo">
                </div>
                <div class="col-md-4 m-3">
                    <button type="submit" class="btn btn-primary update-data">Update</button>
                </div>
            </form>
            <span class="border border-black mx-auto p-2" id="memberDetail">
                {{#each member}}
                    <div class="row g-4" id="memberDetails-{{@index}}">
                        <div class="col-md-4 p-3">
                            <label for="inputText" class="form-label">Name: </label>
                            <label class="form-label border-success" name="memberDetails[{{@index}}][name]"
                                id="name">{{this.name}}</label>
                        </div>
                        <div class="row">
                            <div class="col-md-4 p-3">
                                <label for="inputText" class="form-label">Relation: </label>
                                <label class="form-label border-success" name="memberDetails[{{@index}}][relation]"
                                    id="relation">{{this.relation}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 p-3">
                                <label for="inputText" class="form-label">Age: </label>
                                <label class="form-label border-success" name="memberDetails[{{@index}}][age]" id="age"
                                    style="width: 70px;">{{this.age}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 p-3">
                                <label for="inputText4" class="form-label">Date of Birth: </label>
                                <label class="form-label border-success" name="dateofbirth[{{@index}}]"
                                    id="dateofbirth">{{this.birthdate}}/{{this.birthmonth}}/{{this.birthyear}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 p-3">
                                <label for="inputText4" class="form-label">Date of Baptism: </label>
                                <label class="form-label border-success" name="dateofbaptism[{{@index}}]"
                                    id="dateofbaptism">{{this.baptismdate}}/{{this.baptismmonth}}/{{this.baptismyear}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 p-3">
                                <label for="inputText" class="form-label">Abroad or Not: </label>
                                {{#if abroad}}
                                    <label class="form-check-label" name="yes" for="inlineRadio1">Yes</label>
                                {{else}}
                                    <label class="form-check-label" name="no" for="inlineRadio1">No</label>
                                {{/if}}
                            </div>
                            <div class="col-md-4 p-3" id="placename" {{#unless abroad}}style="display:none" {{/unless}}>
                                <label for="inputText" class="form-label">Place Name: </label>
                                <label class="form-label border-success" name="placeName[{{@index}}]"
                                    id="placeName">{{this.placeName}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 p-3">
                                <label for="inputText" class="form-label">Married or Not: </label>
                                {{#if married}}
                                    <label class="form-check-label" name="yes" for="inlineRadio1">Yes</label>
                                {{else}}
                                    <label class="form-check-label" name="no" for="inlineRadio1">No</label>
                                {{/if}}
                            </div>
                            <div class="col-md-4" {{#unless married}}style="display:none" {{/unless}}>
                                <div style="display: flex;">
                                    <div class="col-md-8 p-3">
                                        <label for="inputText4" class="form-label">Marriage Date: </label>
                                        <label class="form-label border-success" name="marriagedate[{{@index}}]"
                                            id="marriagedate">{{this.marriagedate}}/{{this.marriagemonth}}/{{this.marriageyear}}</label>
                                    </div>
                                    <div class="col-md-5 p-3">
                                        <label for="inputTest4" class="form-label">Partner Name: </label>
                                        <label class="form-label border-success" name="partnerName[{{@index}}]"
                                            id="partnerName">{{this.partnerName}}</label>
                                    </div>
                                    <div class="col-md-5 p-3">
                                        <label for="inputText" class="form-label">Anniversary: </label>
                                        <label class="form-label border-success" name="anniversaryage[{{@index}}]"
                                            id="anniversaryage">{{this.anniversary}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <a href="/edit/{{../user._id}}/{{this._id}}" class="btn btn-primary view-member"
                                    id="view-member" style="width: 50%;">Edit</a>
                            </div>
                            <div class="col-md-4">
                                <button class="btn btn-danger delete-member" data-id="{{../user._id}}"
                                    data-memberid="{{this._id}}" style="width: 50%;">Delete Member</button>
                            </div>
                        </div>
                        <hr class="border border-success border-2 opacity-50">
                {{/each}}
            </span>
            <div class=" row m-3">
                <button type="button" class="btn btn-danger delete-data" data-id="{{user._id}}"
                    style="width: 50%;">Delete</button>
            </div>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
        crossorigin="anonymous"></script>
    <script src="/js/viewData.js"></script>
</body>

</html>